* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* start header */
header {
  position: absolute;
  z-index: 2;
  width: 100%;
  top: 0;
  left: 0;
}

/* end header */

/* start carousel  */
#portfolio__carousel .carousel-caption {
  bottom: 50%;
  transform: translateY(50%);
}

.carousel-caption img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}
.carousel-indicators li {
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.carousel-indicators {
  bottom: 30px;
}
.carousel-item {
  position: relative;
  height: 100vh;
}
.carousel-item::after {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
}
#portfolio__carousel .carousel-indicators .active {
  /* opacity: 1; */
  background-color: #35a22c;
}

header .nav-item .nav-link {
  position: relative;
  color: white;
  margin: 0 20px;
  transition: 0.3s;
  overflow: hidden;
}
header .nav-item .nav-link:hover {
  color: #35a22c;
}
header .nav-item .nav-link::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 2px;
  background: #35a22c;
  bottom: 0px;
  left: 0;
  transform: translateX(-100%);
  transition: 0.3s;
}
header .nav-item .nav-link:hover::after {
  transform: translateX(0px);
}

.nav-item.active .nav-link {
  color: #35a22c;
}
.nav-item.active .nav-link::after {
  transform: translateX(0px);
}
/* end carousel  */

/* start project  */
#portfolio__project .nav {
  justify-content: center;
}
#portfolio__project .card {
  border-radius: 16px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#portfolio__project .nav-pills .nav-link.active {
  background: #35a22c;
  color: white;
  border-color: #35a22c;
}

#portfolio__project .nav-pills .nav-link {
  border: 1px solid #1a1d2d;
  color: #1a1d2d;
  margin: 0 20px;
}
#portfolio__project .card-body {
  border: 1px solid transparent;
  border-radius: 16px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-top: none;
  transition: 0.4s;
}

#portfolio__project .card:hover .card-body {
  border-color: #35a22c;
}
/* end project */
.demo__responsive {
  width: 100%;
  height: 500px;
  background: #000;
}
@media screen and (min-width: 768px) {
  .demo__responsive {
    background: blue;
  }
}

@media screen and (min-width: 992px) {
  .demo__responsive {
    background: red;
  }
}

@media screen and (max-width: 992px) {
  .demo__responsive {
    background: red;
  }
}

@media screen and (max-width: 768px) {
  .demo__responsive {
    background: blue;
  }
}

.card-text:last-child {
  text-align: center;
}

.carousel-caption p {
  font-size: 24px;
}

.carousel-caption h5 {
  font-size: 56px;
  line-height: 65px;
}
.pt-5,
.py-5 {
  padding-top: 6rem !important;
}

.h3,
h3 {
  font-size: 36px;
  line-height: 42px;
  color: #1a1d2d;
  font-weight: 600;
}

/* star feature */
.feature {
  background: url(./image/3.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
  padding: 100px 0 120px;
}

#portfolio__feature.overlay {
  background: rgba(7, 10, 12, 0.72);
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(7, 10, 12, 0.72);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.box_item {
  padding: 40px 40px;
  transition: 0.3s;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  transition: all 0.5s;
  color: silver;
}
.row1 {
  display: flex;
  flex-direction: row;
  margin-right: -15px;
  margin-left: -15px;
}

.box_item {
  margin: 15px 15px;
}

.feature__item i {
  color: #35a22c;
  font-size: 48px;
}
.container i {
  color: #35a22c;
  font-size: 48px;
}
.feature__item h4 {
  font-size: 20px;
  color: silver;
  line-height: 30px;
  padding-top: 25px;
  font-weight: 800;
}

.feature__item p {
  padding-top: 15px;
  font-size: 16px;
  line-height: 24px;
  color: silver;
}
.heading p {
  font-weight: 24px;
}

.heading {
  text-align: center;
  color: rgba(255, 255, 255, 0.966) !important;
  justify-content: center;
  font-weight: bolder;
}
#portfolio__award {
  position: relative;
  color: #585858;
  padding: 70px 0;
}

.award__background {
  background-image: url(./image/memphis_3.png);
  background-position: bottom left;
  background-repeat: no-repeat;
  background-size: 50% auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  position: absolute;
}

.container__award .row {
  display: flex;
  /* margin-left: -15px;
  margin-right: -15px; */
  flex-wrap: wrap;
  padding: 5px;
}
/* end award  */

.left__content {
  box-shadow: 0px 30px 90px;
  border-radius: 10px;
  border: 1px solid rgba(224, 200, 200, 0.829);
  backdrop-filter: blur(3px);
  padding: 45px;
}
/* edit layout award (micro) */
.container__award {
  padding: 50px;
}
.left__content {
  margin: 15px 40px;
  padding: 69px;
}
#portfolio__award.left__content h2 {
  font-weight: 700px bolder;
}
.right__content {
  margin: 60px -10px;
}
.right__content p {
  font-size: 17px;
}
/* close micro edit */

/* star footer */

.chan__trang {
  background: #000;
  padding: 5px 0px;
}

.footer__container {
  text-align: center;
  color: silver;
}
/* end footer */

.footer__main {
  font-weight: 500px;
  font-size: 15px;
  padding: 20px 15px;
}

.footer__copies {
  font-weight: 500px;
  font-size: 20px;
  padding: 30px;
  border-top: solid 1px;
  opacity: 0.5;
  color: silver;
  padding: 10px 10px;
}
.footer__container i:hover {
  transition: 0.4s;
  color: #35a22c;
}
.footer__main i {
  border-radius: 50%;
  border: 1px solid;
  background: #000;
  width: 42px;
  height: 42px;
  line-height: 42px;
}
footer {
  padding-bottom: 3rem !important;
}
